@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  background-color: #1e3439;
  margin: 0px;
  padding: 0px;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 0, 0, 0;
}

::placeholder {
  text-align: center;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 255, 255, 255;
    --background-end-rgb: 255, 255, 255;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

/* .logo {
  position: absolute;
  right: 0%;
  top: 0%;
  size: 10%;
} */

button {
  margin: 2px;
  @apply bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full;
}

.setPlayerCard {
  position: absolute;
  top: 25%;
}

.SetPlayersTitle {
  text-align: center;
  @apply font-mono font-extrabold text-white text-5xl;
}

.setPlayerButtons {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.PlayerNameBox {
  align-items: center;
  display: flex;
  flex-direction: column;
  color: white;
}

.playerName {
  text-align: center;
  @apply font-mono font-extrabold text-white text-4xl;
}

.life-counter {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 70%;
  padding: 10px;
  border: 3px solid #395e66;
  border-radius: 5%;
}

.container-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-submit-box {
  text-align: center;
  display: grid;
  margin: auto;
}

.container-buttons-life {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.life-total-text {
  font-size: 5rem;
  color: slategray;
}

.PlayerArea {
  display: flex;
}

.CommanderDamage {
  display: flex;
  flex-direction: column;
  width: 14%;
  justify-content: center;
  align-items: center;
}

.CommanderSummonButton {
  flex-direction: column;
  background-color: #395e66;
}

.playerButton1 {
  background-color: #395e66;
}

.playerButton2 {
  background-color: #387d7a;
}

.playerButton3 {
  background-color: #32936f;
}

.playerButton4 {
  background-color: #26a96c;
}

.playerButton5 {
  background-color: #2bc016;
}
