@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 0, 0, 0;
}

::placeholder {
  text-align: center;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 255, 255, 255;
    --background-end-rgb: 255, 255, 255;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

button {
  margin: 2px;
  @apply bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full;
}

.playerButton1 {
  @apply bg-green-800;
}

.playerButton2 {
  @apply bg-red-700;
}

.playerButton3 {
  @apply bg-yellow-100;
}

.playerButton4 {
  @apply bg-blue-600;
}

.playerButton5 {
  @apply bg-zinc-950;
}

.life-counter {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 70%;
  padding: 10px;
  border: 3px solid black;
}

.container-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-submit-box {
  text-align: center;
  display: grid;
  margin: auto;
}

.container-buttons-life {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.life-total-text {
  font-size: 5rem;
  color: red;
}
